*.pth
*.mp4
*.wav
/workspace/GitHub/AVSL/DATA/
/workspace/GitHub/AVSL/models/Dataset/
ckpt/
*.yaml
models/Mask2former/
/workspace/GitHub/AVSL/models/Mask2former/
*.imsi
*.log
*.pyc
/workspace/GitHub/AVSL/junk/
./junk/
./DATA/
./dataset_chunk/
/workspace/GitHub/AVSL/dataset_chunk/
./IMGs/
/workspace/GitHub/AVSL/IMGs/
./pickle/
./results/
DATA/
*.txt
*.csv
*.pickle
*.arch
